{% extends "layout.html" %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4 text-primary">Add Employee</h2>
<!-- FLASH MESSAGE -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,msg in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show">
{{msg}}
<button class="btn-close" data-bs-dismiss="alert"></button>
</div>

{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data">

<div class="mb-3">
<label class="form-label">Name</label>
<input type="text" name="name" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Email</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Department</label>

<select name="department" class="form-select" required>
<option value="">-- Select Department --</option>
<option value="HR">HR</option>
<option value="IT">IT</option>
<option value="Sales">Sales</option>
<option value="Finance">Finance</option>
</select> 

<label class="mt-2">Role</label>
<select name="role" class="form-select" required>
<option value="">-- Select Role --</option>
<option value="4">Employee</option>
<option value="3">Manager</option>
<option value="2">HR</option>
</select>

</div>

<div class="mb-3">
<label class="form-label">Salary</label>
<input type="number" name="salary" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Photo</label>
<input type="file" name="photo" class="form-control">
</div>

<button type="submit" class="btn btn-success">Add Employee</button>

<a href="{{ url_for('employees') }}" class="btn btn-secondary">
Cancel
</a>


</form>

</div>

{% endblock %}