{% extends "layout.html" %}

{% block content %}

<div class="card p-4 shadow" style="max-width:600px">

<h3>Edit Employee</h3>

<form method="POST" enctype="multipart/form-data">

<label>Name</label>
<input class="form-control mb-2" name="name" value="{{emp.name}}">

<label>Email</label>
<input class="form-control mb-2" name="email" value="{{emp.email}}">


<label>Department</label>
<select name="department" class="form-select" required>
<option value="IT" {% if emp.department=='IT' %}selected{% endif %}>IT</option>
<option value="Sales" {% if emp.department=='Sales' %}selected{% endif %}>Sales</option>
<option value="Finance" {% if emp.department=='Finance' %}selected{% endif %}>Finance</option>
<option value="HR" {% if emp.department=='HR' %}selected{% endif %}>HR</option>
</select>


<label class="mt-2">Role</label>
<select name="role" class="form-select" required>

<option value="4" {% if emp.role_id==4 %}selected{% endif %}>Employee</option>

<option value="3" {% if emp.role_id==3 %}selected{% endif %}>Manager</option>

<option value="2" {% if emp.role_id==2 %}selected{% endif %}>HR</option>

</select>

</select>
<label>Salary</label>
<input class="form-control mb-2" name="salary" value="{{emp.salary}}">

<label>Photo</label>
<input type="file" class="form-control mb-3" name="photo">

<button class="btn btn-primary">Update</button>

</form>

</div>

{% endblock %}